
 ul, h3{
    margin: 0px;
    font-family: 'Open Sans';
}

body{
    left:3% ;
    right: 3%;
  background-image: url('login-img.jpeg') no-repeat;
  font-family: 'Open Sans';
}
h4{
    text-align: center;
  color:white;
}
h3{
  text-align: center;
  color:black;
}
#aln
{
align-content: center;
}
 
#features
{
    background-color:lightblue;
}
header{
    position: fixed;
    left: 0%;
    width: 100%;
    top: 0;
}

footer{position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: #fff;
}

.hamburger{
    top: 25px;
    left: 5px;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.bar{
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition: 0.4s;
    margin-bottom: 5px;
}

.logo{
    color: #fff;
    padding: 15px;
    font-size: 25px;
    font-family: 'Righteous';
    box-sizing: border-box;
    text-align: center;
}

nav{
    background-color:black;
}

nav ul{
    list-style-type: none;
}

nav ul li:hover{
    background-color: black;
}

nav ul li a{
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 3px;
}

.content{
    padding: 10px;
    margin-bottom: 60px;
}



.infoBox{
    height: auto;
    margin-top: 5px;
    border-radius: 15px;
    padding: 10px;
    border-color:black;
    box-sizing: border-box;
    background-color:lightblue;
}

.desc{
    text-align: justify;
    margin-top: 5px;
}

.one-column{
    margin-top: 10px;
    border-radius: 5px;
    background-color:cornflowerblue;
    padding: 10px;
    
}


.features i{
	font-size: 70px !important;
  color: green;
}

.copyright{
  padding: 15px;
  font-size: 12px;
}

.social li{
  cursor: pointer;
}.mySlides {display:none;
}


@media screen and (min-width: 853px){
    nav {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    
    nav ul{
        display: flex;
        flex-flow: row wrap;
    }

    .logo{
        border-right: 1px solid #fff;
    }

    nav ul{

    }
    nav ul li{
        padding: 15px;
    }
     .hamburger{
        display: none;
    }
    .features{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .infoBox{
        flex: 0 1 32%;
    }
}

@media screen and (max-width: 852px){
    .logo{
        border-bottom: 1px solid #fff;
    }
    nav ul{
        padding: 0px;
    }
    nav ul li{
        padding: 5px 0 5px 5px;
    }
    .hamburger, .hamburger span{
        display:block;
    }
    #menu{
        display: none;
    }
    .social{
      display: flex;
      justify-content: space-around;
    }
    .social li{
      flex: 1 1 0;
      text-align: center;
    }
    .content{
      margin-bottom: 120px;
    }
    .one-column{
      width: 96%;
    }
    .copyright{
      text-align: center;
    }
}
